mixin gitHeader
  pre(class="language-none")
    code git clone #{cloneUrl}
  pre(class="language-none")
    code
      a(href="#{process.env.HOST}/#{repoName}")= repoName
      span(style="margin-left: 0.4rem; margin-right: 0.4rem") /
      each p in parentMap
        a(href=p.url)= p.dir
        span(style="margin-left: 0.4rem; margin-right: 0.4rem") /
      span= name
