extends ../layout

include ../mixins/repo
include ../mixins/sources

block header
  meta(name="description", content="#{file.name}")
  title Repositories - #{repo.name}

block styles
  +prismcss

block scripts
  +prismjs

block content
  +repoHeader
  article
    pre(class="language-#{file.type}")
      code #{file.content}
