extends layout

block header
  meta(name="description", content="Adam Heins' git repositories.")
  title Repositories

block content
  article
    section
      h1 #[a(href=process.env.HOST) REPOSITORIES]
    each repo in repos
      section
        div #[strong #[a(href="/" + repo.name) #{repo.name}]]
        p.description= repo.description
