extends layout

block header
  meta(name="description", content="Adam's git repos.")
  title Adam Heins

block content
  article
    section
      h1 Repositories
    each repo in repos
      section
        h2
          a(href="/#{repo.name}") #{repo.name}
        p.description= repo.description
