extends layout

block header
  meta(name="description", content="Adam's git repos.")
  title Adam Heins

block content
  article
    ul(class="bare")
      each repo in repos
        li
          a(href="/#{repo.name}") #{repo.name}

