extends layout

block header
  meta(name="description", content="Adam's git repos.")
  title Adam Heins

block content
  article
    section
      h1 Git Hosting
      p This is where I host my public git repositories.
    section
      h2 Repositories
      p Click a repository to view its README and a link to clone it.
      ul.bare
        each repo in repos
          li
            a(href="/#{repo.name}") #{repo.name}

