extends layout

block header
  meta(name="description", content="#{name}")
  title= name

block content
  article
    ul.bare
      each entry in entries
        li
          a(href=entry.url)= entry.name
